bosh-release/config/private.yml
bosh-release/blobs
bosh-release/dev_releases
bosh-release/releases/*.tgz
bosh-release/releases/**/*.tgz
bosh-release/.dev_builds
bosh-release/.final_builds/jobs/**/*.tgz
bosh-release/.final_builds/packages/**/*.tgz
bosh-release/*.tgz
.DS_Store
.idea
*.swp
*~
*#
*.tgz
tile-history.yml
release/
product/
